html(lang='en')
  head
    //- link(href='/main.css' rel='stylesheet')
  body 
    block content
    script(src="/scripts/vendor/chart.min.js")
    script(src="/scripts/vendor/chartjs-adapter-date-fns.bundle.min.js")
    script(src="/scripts/vendor/chartjs-plugin-annotation.min.js")